@model IEnumerable<Core.DomainModel.Serie>

@{
    ViewBag.Title = "Checking";
 }

<h2>There are new episodes of these series:</h2>
    @if (Model.Count() == 0)
    {
        <div>Sadly there are no new episodes :(</div>
    }
    else
    {
        foreach (var serie in Model)
        {
            <div>@serie.Name</div>@Html.ActionLink("Episode seen","SeenOne",serie)
        }
        
    }
