@{
    ViewBag.Title = "Home Page";
   
    //Session["FacebookId"] = "948395601842199";
}

<div class="jumbotron">
    <h1>Velkommen til Figs Trackers</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Denne side og programmer på denne side er lavet af Martin Nielsen Fig, de er til frit brug, men koden bag er ikke til fri benyttelse uden aftale med ham.</p>
    </div>
    
</div>
