@{
    ViewBag.Title = "Home Page";
   
    //Session["FacebookId"] = "948395601842199";
}

<div class="jumbotron">
    <h1>Welcome to Fig's Trackers</h1>
</div>
<div class="section">
    To be able to use the trackers, you have to log in, right now you can only use Facebook to log in, but nothing will be posted to your wall, since i hate when applications do that.
</div>


